{% extends 'base.html' %}

{% block content %}

<div class="wrap">
    <div class="container">
        <h1> Authorization Code Flow </h1>
        <p> The authorization code flow is used to obtain both access and refresh tokens by exchanging a code.
            Because it's a redirection-based flow, the client must be able to interact with the resource owner's user agent (typically a web browser),
            and capable of receiving incoming requests from the authorization server.
        </p>
        <h2> Step Two: Code Exchange </h2>
        <p> Once successfully authenticated, you'll receive a code and state. </p>
        <p> <b>Code:</b> {{ code }} <br><br>
        <b>State:</b> {{ state }} </p>
        <p> The code is what will be exchanged for the token, while the state is merely a security measure. </p>
        <p> Click below to get redirected to the token endpoint: </p>
        <div class="container-section">
            <button type="submit" onclick="location.href='token'" value="auth-code_token"> Token Endpoint </button>
        </div>
    </div>
</div>


{% endblock %}