{% extends 'base.html' %}

{% block content %}

<div class="wrap">
    <div class="container">
        <h1> Authorization Code Flow </h1>
        <p> The authorization code flow is used to obtain both access and refresh tokens by exchanging a code.
            Because it's a redirection-based flow, the client must be able to interact with the resource owner's user agent (typically a web browser),
            and capable of receiving incoming requests from the authorization server.
        </p>
        <h2> Step Four: Claims </h2>
        <p> Once you decode the token, you'll find whatever attributes and claims are sent in the payload. You can then use these claims within your application to authorize access, limit funcionality, and perform
            role based access control (RBAC). </p>
        <p> <b>Claims:</b> {{ claims }}</p>
    </div>
</div>


{% endblock %}