body {
    margin: 0;

    background-color: #181a1c;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 25px;

    justify-content: space-between;

    position: fixed;
    width: 100%;

    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #eae9e5;
    background-color: #242629;

    padding: 10px 25px 10px 25px;

    border-bottom: 0px solid #eae9e530;
}

.navbar-container-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;

    align-items: center;

    padding: 0px 60px 0px 0px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;

    font-family: "Inter", sans-serif;
    color: #eae9e5;

    width: 725px;
    padding: 30px;
}

.container img {
    margin: 0px 0px 15px 0px;
}

.container h1 {
    font-size: 40px;
    font-weight: 800;

    margin: 0px 0px 10px 0px;
}

.container h2 {
    font-size: 20px;
    font-weight: 600px;

    margin: 0px 0px 10px 0px;
}

.container p {
    font-size: 15px;
    font-weight: 300;
    color: #eae9e550;

    margin: 0px 0px 25px 0px;
}

.container button {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;

    background-color: #242629;
    color: #eae9e5;

    border: 0px solid #eae9e530;
    border-radius: 5px;

    width: 100%;
    height: 50px;


    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;

    padding: 15px;
}

.container button:hover {
    background-color: #546682;
}

.container-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;;

    margin-bottom: 35px;
}